@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid:before, .row:before, #calendar-header:before, .grid:after, .row:after, #calendar-header:after {
  display: table;
  content: ""; }
.grid:after, .row:after, #calendar-header:after {
  clear: both; }

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; }

body {
  color: #444; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
.header {
  font-size: 32px;
  font-size: 2rem;
  color: #fff; }

#header-right {
  text-align: right; }

#header-sidebar {
  font-size: 32px;
  font-size: 2rem; }

li[id*="nav-"] {
  line-height: 24px;
  line-height: 1.5rem; }

li[id*="nav-"] i {
  font-size: 24px;
  font-size: 1.5rem; }

.edit {
  color: #ddd; }
  .edit:hover {
    color: #444; }

.incomplete .check {
  color: #ddd; }
  .incomplete .check:hover {
    color: #aaa; }

.complete span {
  color: #aaa;
  text-decoration: line-through; }
.complete .check {
  color: #444;
  text-decoration: none; }

#calendar-month {
  font-size: 14px;
  font-size: 0.875rem; }

.grid {
  height: 100%; }

.row {
  width: 100%;
  height: 100%; }

[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  margin-left: 0%;
  min-height: 1px; }

.col-1 {
  width: 12.5%; }

.col-2 {
  width: 25%; }

.col-3 {
  width: 37.5%; }

.col-4 {
  width: 50%; }

.col-5 {
  width: 62.5%; }

.col-6 {
  width: 75%; }

.col-7 {
  width: 87.5%; }

.col-8 {
  width: 100%; }

.push-1 {
  margin-left: 12.5%; }

.push-2 {
  margin-left: 25%; }

.push-3 {
  margin-left: 37.5%; }

.push-4 {
  margin-left: 50%; }

.push-5 {
  margin-left: 62.5%; }

.push-6 {
  margin-left: 75%; }

.push-7 {
  margin-left: 87.5%; }

.push-8 {
  margin-left: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #ddd; }

h1 {
  margin-bottom: 5px; }

#main .sidebar-collapsed {
  padding-left: 54px; }
#main .sidebar-expanded {
  padding-right: 260px; }

.header {
  height: 45px;
  background-color: #3272BB;
  padding: 0 10px;
  z-index: 1010; }

.header i:hover {
  cursor: pointer; }

#header-right {
  position: fixed; }
  #header-right i {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 15px; }

#content {
  background-color: #fff;
  height: 100%;
  padding: 55px 10px 10px; }

#sidebar {
  position: fixed;
  height: 100%;
  overflow: hidden;
  z-index: 1020; }

#nav {
  padding: 10px 0;
  background-color: #F7F7F7;
  height: 100%; }

.sidebar-collapsed {
  width: 44px; }

.sidebar-expanded {
  width: 250px; }

ul[id*="nav-"] {
  margin-bottom: 30px;
  vertical-align: middle;
  white-space: nowrap; }

li[id*="nav-"] {
  padding: 5px 10px;
  margin: 2px 0;
  display: block; }
  li[id*="nav-"] i {
    vertical-align: middle;
    margin-right: 8px; }
  li[id*="nav-"]:hover {
    cursor: pointer;
    background-color: #fff; }

#header-sidebar {
  padding: 5px;
  background-color: #2d67a8;
  width: 100%; }
  #header-sidebar i {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.selected {
  background-color: #fff; }

@media screen and (min-width: 768px) {
  .collapsed {
    width: 49px; }

  ul[id*="nav-"] {
    margin-bottom: 30px; }

  li[id*="nav-"]:before {
    margin-left: -37px; } }
.task-list li {
  -webkit-border-bottom: 1px solid #ddd;
  -moz-border-bottom: 1px solid #ddd;
  -ms-border-bottom: 1px solid #ddd;
  -o-border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; }
  .task-list li:first-child {
    padding-top: 0; }
  .task-list li:last-child {
    -webkit-border-bottom: none;
    -moz-border-bottom: none;
    -ms-border-bottom: none;
    -o-border-bottom: none;
    border-bottom: none; }

.task-list i:hover:hover {
  cursor: pointer; }

.check {
  margin-right: 10px; }

.edit {
  width: 12px;
  width: 0.75rem;
  text-align: center;
  float: right;
  visibility: hidden; }
  li:hover .edit {
    visibility: visible; }

@media screen and (min-width: 768px) {
  .task-list li {
    padding: 15px 0; }

  .edit {
    width: 16px;
    width: 1rem; } }
#calendar-header h1 {
  float: left; }
#calendar-header ul {
  float: right; }
#calendar-header li {
  display: inline-block; }

#calendar-month > ul > li {
  width: 14.28571%;
  float: left;
  margin: -1px 0 0 -1px; }

#day-names li {
  padding-bottom: 2px; }

#month > li {
  -webkit-border: 1px solid #ddd;
  -moz-border: 1px solid #ddd;
  -ms-border: 1px solid #ddd;
  -o-border: 1px solid #ddd;
  border: 1px solid #ddd;
  height: 45px; }
#month ul li {
  height: 3px;
  background-color: #3272BB;
  margin: 1px 0; }

.all-day-events {
  width: 100%;
  height: 7.5px;
  padding: 0 1px; }

.date {
  width: 20%;
  margin-left: 1px;
  padding-left: 2%; }

.events {
  width: 50%;
  float: right;
  margin-right: 1px; }

@media screen and (min-width: 768px) {
  #month > li {
    height: 135px; }
  #month ul li {
    height: 9px; }

  .all-day-events {
    height: 22.5px; }

  .events {
    width: 80%; } }

/*# sourceMappingURL=main.css.map */
