@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#calendar:before, #calendar-header:before, #calendar:after, #calendar-header:after {
  display: table;
  content: ""; }
#calendar:after, #calendar-header:after {
  clear: both; }

.task-list li .task-name, .all-day-events, .events {
  white-space: nowrap;
  overflow-x: hidden; }

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; }

body {
  color: #444; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
.header {
  font-size: 32px;
  font-size: 2rem;
  color: #fff; }

#header-main {
  text-align: right; }

#nav a {
  color: #444;
  text-decoration: none; }

#header-sidebar {
  font-size: 32px;
  font-size: 2rem; }

li[id*="nav-"] {
  line-height: 24px;
  line-height: 1.5rem; }
  li[id*="nav-"] i {
    font-size: 24px;
    font-size: 1.5rem; }

.sub-nav-list {
  font-size: 14px;
  font-size: 0.875rem; }
  .sub-nav-list li i {
    font-size: 12px;
    font-size: 0.75rem; }

.task-list li {
  line-height: 24px;
  line-height: 1.5rem; }

.edit-icon {
  color: #ddd; }
  .edit-icon:hover {
    color: #444; }

.check-icon {
  color: #ddd; }
  .check-icon:hover {
    color: #aaa; }
  .is-complete .check-icon {
    color: #444;
    text-decoration: none; }

.is-complete .task-name {
  color: #aaa;
  text-decoration: line-through; }

#calendar-month {
  font-size: 14px;
  font-size: 0.875rem; }

#calendar-views {
  font-size: 12px;
  font-size: 0.75rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #ddd; }

h1 {
  margin-bottom: 10px; }

i {
  cursor: pointer; }

.disable-preload-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#content-wrapper {
  -webkit-transition: width 0.5s ease 0.1s;
  -moz-transition: width 0.5s ease 0.1s;
  -ms-transition: width 0.5s ease 0.1s;
  -o-transition: width 0.5s ease 0.1s;
  transition: width 0.5s ease 0.1s;
  height: 100%; }

.header {
  position: fixed;
  height: 45px;
  background-color: #3272BB;
  padding: 0 10px;
  z-index: 1010; }

#overlay {
  -webkit-transition: all 0.3s ease-in 0.2s;
  -moz-transition: all 0.3s ease-in 0.2s;
  -ms-transition: all 0.3s ease-in 0.2s;
  -o-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  opacity: 0;
  visibility: hidden; }

.is-visible {
  opacity: 0.7 !important;
  visibility: visible !important; }

#header-main {
  width: 100%; }
  #header-main i {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    margin-left: 15px; }

#content {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 55px 10px 10px; }

#sidebar {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: hidden;
  z-index: 1030; }
  #sidebar:hover {
    overflow-y: auto; }

#header-sidebar {
  padding: 5px;
  background-color: #2d67a8;
  width: inherit; }
  #header-sidebar i {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%; }

#nav {
  padding: 55px 0 10px;
  background-color: #F7F7F7;
  height: inherit; }
  #nav .is-selected {
    background-color: #fff; }

.is-collapsed {
  min-width: 44px !important;
  width: 44px !important; }

ul[id*="nav-"] {
  margin-bottom: 30px;
  vertical-align: middle;
  white-space: nowrap; }

li[id*="nav-"] a, li[id*="nav-"] > span {
  display: block;
  padding: 5px 10px;
  margin: 2px 0; }
  li[id*="nav-"] a:hover, li[id*="nav-"] > span:hover {
    cursor: pointer;
    background-color: #fff; }
  li[id*="nav-"] a i, li[id*="nav-"] > span i {
    vertical-align: middle;
    margin-right: 9px; }

.sub-nav-list li a {
  padding: 2.5px 10px;
  padding-left: 54px;
  padding-left: 3.375rem;
  margin: 2px 0; }
  .sub-nav-list li a i {
    margin-bottom: 2.5px;
    margin-bottom: 0.15625rem;
    vertical-align: middle;
    line-height: inherit; }

@media screen and (min-width: 768px) {
  .is-collapsed {
    min-width: 54px !important;
    width: 54px !important; } }
.task-list li {
  -webkit-border-bottom: 1px solid #ddd;
  -moz-border-bottom: 1px solid #ddd;
  -ms-border-bottom: 1px solid #ddd;
  -o-border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  padding: 10px 0px;
  padding: 0.625rem 0rem;
  width: 100%; }
  .task-list li:last-child {
    -webkit-border-bottom: none;
    -moz-border-bottom: none;
    -ms-border-bottom: none;
    -o-border-bottom: none;
    border-bottom: none; }
  .task-list li i {
    display: table-cell;
    width: 30px;
    width: 1.875rem; }
  .task-list li .task-name {
    display: table-cell;
    text-overflow: ellipsis; }

.check-icon {
  margin-right: 10px; }

.edit-icon {
  text-align: center;
  visibility: hidden; }
  li:hover .edit-icon {
    visibility: visible; }

#month-name {
  float: left; }

#calendar-views {
  float: right; }
  #calendar-views li {
    display: inline-block; }

.is-today {
  background: #F0F0F0; }

#calendar-month .is-selected {
  background: #ebf1f8; }

.all-day-events {
  width: 100%;
  height: 10.5px;
  padding: 0 1px; }

.events {
  width: 100%; }

.day-number {
  padding-right: 10px;
  padding-right: 0.625rem;
  vertical-align: top; }

#calendar-month > ul > li {
  width: 14.28571%;
  float: left;
  margin: -1px 0 0 -1px; }

#month-day-names li {
  padding-bottom: 2px; }

#month > li {
  -webkit-border: 1px solid #ddd;
  -moz-border: 1px solid #ddd;
  -ms-border: 1px solid #ddd;
  -o-border: 1px solid #ddd;
  border: 1px solid #ddd;
  height: 45px; }
#month ul li {
  height: 3px;
  background-color: #3272BB;
  margin: 1px 0; }

.month-day-row {
  display: table;
  width: 100%;
  padding: 0 1px; }
  .month-day-row .day-number, .month-day-row .events {
    display: table-cell; }

@media screen and (min-width: 768px) {
  .all-day-events {
    height: 12.5px; }

  #month > li {
    height: 75px; }
  #month ul li {
    height: 5px; } }
@media screen and (min-width: 1200px) {
  .all-day-events {
    height: 22.5px; }

  #month > li {
    height: 135px; }
  #month ul li {
    height: 9px; } }

/*# sourceMappingURL=main.css.map */
