@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	@include property('box-sizing', border-box);
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	font-family: $font-stack;
	font-size: $font-small;

	@include breakpoint(small) {
		font-size: $font-base;
	}
}

body {
	color: $color-text;
	background-color: $color-bg-body;
}

h1 {
	@include font-size($font-medium);
	font-weight: bold;
	margin-bottom: 10px;
}

i {
	cursor: pointer;
}
