@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: $font-stack;
	font-size: $font-small;
}

body {
	color: $color-text;
}

h1 {
	@include font-size($font-medium);
	font-weight: bold;
}

@include breakpoint(small) {
	html {
		font-size: $font-base;
	}
}

// HEADER
// ----------------------------
.header {
	@include font-size($font-large);
	color: $color-bg-content;
}

#header-main {
	text-align: right;
}

// SIDEBAR
// ----------------------------
#nav a {
	color: $color-text;
	text-decoration: none;
}

#header-sidebar {
	@include font-size($font-large);
}

li[id*="nav-"] {
	@include rem('line-height', $font-medium);

	i {
		@include font-size($font-medium);
	}
}

.sub-nav-list {
	@include font-size(14px);

	li i {
		@include font-size($font-small);
	}
}

[class*="square-icon-"].disabled + span {
	color: $color-dim-darker;
}

// LISTS
// ----------------------------
.task-list li {
	@include rem('line-height', $font-medium);
}

.edit-icon {
	color: $color-dim;

	&:hover {
		color: $color-text;
	}
}

.check-icon {
	color: $color-dim;

	&:hover {
		color: $color-dim-dark;
	}

	.complete & {
		color: $color-text;
		text-decoration: none;
	}
}

.complete .task-name {
	color: $color-dim-dark;
	text-decoration: line-through;
}

// CALENDAR
// ----------------------------
#calendar-month {
	@include font-size(14px);
}

#calendar-views {
	@include font-size($font-small);
}