<h1>Inbox</h1>
<div ng-if="vm.tasks">
	<sp-tasks tasks="vm.tasks" order="'-created'"></sp-tasks>
</div>
<div ng-if="vm.events">
	<sp-events events="vm.events"></sp-events>
</div>

<div id="calendar">
	<div id="calendar-header">
		<h1 id="month-name">February</h1>
		<ul id="calendar-views">
			<li>Day</li>
			<li>Week</li>
			<li>Month</li>
			<li>Agenda</li>
		</ul>
	</div>
	<ul id="calendar-month">
		<ul id="month-day-names">
			<li>Sun</li>
			<li>Mon</li>
			<li>Tue</li>
			<li>Wed</li>
			<li>Thur</li>
			<li>Fri</li>
			<li>Sat</li>
		</ul>

		<ul id="month" class="calendar-view">
			<li>
				<ul class="all-day-events">
					<li></li>
					<li></li>
				</ul>
				<div class="month-day-row">
					<span class="day-number">1</span>
					<ul class="events">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</li>
			<li class="today">
				<ul class="all-day-events">
					<li></li>
				</ul>
				<div class="month-day-row">
					<span class="day-number">2</span>
					<ul class="events">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li>
				<ul class="all-day-events">
					<li></li>
				</ul>
				<div class="month-day-row">
					<span class="day-number">22</span>
					<ul class="events">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</ul>
</div>
