<div id="sidebar-placeholder" ng-class="{ collapsed: sc.collapsed.sidebar }">
&nbsp;
</div>
<div id="sidebar" ng-class="{ collapsed: sc.collapsed.sidebar }">
	<div id="header-sidebar" class="header">
		<i id="sidebar-toggle" class="fa fa-bars fa-fw" ng-click="sc.toggleSidebar()"></i>
	</div>
	<nav id="nav">
		<ul id="nav-home-list">
			<li id="nav-home">
				<a ui-sref="dashboard" ui-sref-active="active"> <i class="fa fa-home fa-fw"></i> <span>Home</span> </a>
			</li>
		</ul>

		<ul id="nav-calendar-list">
			<li id="nav-calendar">
				<a ui-sref="calendar" ui-sref-active="active"> <i class="fa fa-calendar fa-fw"></i> <span>Calendar</span> </a>
			</li>
			<li id="nav-my-calendars" class="sub-nav">
				<div ng-click="sc.toggleCalendars()">
					<i class="fa fa-calendar-o fa-fw"></i>
					<span>My Calendars</span>
				</div>
				<ul id="sub-nav-calendars" class="sub-nav-list" ng-class="{ collapsed: sc.collapsed.calendars }">
					<li ng-repeat="calendar in sc.calendars">
						<a href="#">
							<div class="square-icon-primary"></div> <span>{{ calendar.name }}</span>
						</a>
					</li>

					<!-- TODO: move to own section: -->

					<li ng-repeat="sharedCalendar in sc.sharedCalendars">
						<a ui-sref="labels.label({ labelId: sharedCalendar.label_id })" ui-sref-active="active">
							<div class="square-icon-primary"></div> <span>{{ sharedCalendar.shared_name }}</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul id="nav-task-list">
			<li id="nav-inbox">
				<a ui-sref="inbox" ui-sref-active="active"> <i class="fa fa-inbox fa-fw"></i> <span>Inbox</span> </a>
			</li>
			<li id="nav-today">
				<a ui-sref="today" ui-sref-active="active"> <i class="fa fa-check-square-o fa-fw"></i> <span>Today</span> </a>
			</li>
			<li id="nav-7-days">
				<a ui-sref="week" ui-sref-active="active"> <i class="fa fa-list fa-fw"></i> <span>Next 7 Days</span> </a>
			</li>

			<li id="nav-my-labels" class="sub-nav">
				<div ng-click="sc.toggleLabels()">
					<i class="fa fa-tag fa-fw"></i>
					<span>My Labels</span>
				</div>
				<ul id="sub-nav-labels" class="sub-nav-list" ng-class="{ collapsed: sc.collapsed.labels }">
					<li ng-repeat="label in sc.labels">
						<a ui-sref="labels.label({ labelId: label.id })" ui-sref-active="active">
							<div class="square-icon-primary"></div> <span>{{ label.name }}</span>
						</a>
					</li>

					<!-- TODO: move to own section: -->

					<li ng-repeat="sharedLabel in sc.sharedLabels">
						<a ui-sref="labels.label({ labelId: sharedLabel.label_id })" ui-sref-active="active">
							<div class="square-icon-primary"></div> <span>{{ sharedLabel.shared_name }}</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>