.task-list {
}

.task-list li {
	padding: 10px 0;
	@include property('border-bottom', 1px solid $color-dim);

	&:last-child {
		@include property('border-bottom', none);
	}

	& i {
		margin-right: 20px;

		&:hover {
			cursor: pointer;
		}
	}
}