.task-list {
}

.task-list li {
	@include property('border-bottom', 1px solid $color-dim);
	display: table;
	table-layout: fixed;
	overflow: hidden;
	padding: 10px 0;
	width: 100%;

	&:last-child {
		@include property('border-bottom', none);
	}

	i {
		display: table-cell;
		@include rem('width', $icon-width);
	}

	.task-name {
		@extend %one-line;
		display: table-cell;
		text-overflow: ellipsis;
	}
}

.check-icon {
	margin-right: 10px;
}

.edit-icon {
	text-align: center;
	visibility: hidden;

	li:hover & {
		visibility: visible;
	}
}

@include breakpoint(small) {
	.task-list li {
		padding: 15px 0;
	}
}