.grid {
	@extend %clearfix;
	height: 100%;
}

.row {
	@extend %clearfix;
	width: 100%;
	height: 100%;
}

[class*="col-"] {
	@include property('box-sizing', 'border-box');
	display: block;
	float: left;
	width: 100%;
	margin-left: $gutter-width;
	min-height: 1px;

	// &:first-child {
	// 	margin-left: 0;
	// }
}

@for $i from 1 through $total-columns {
	.col-#{$i} {
		width: ($col-width * $i) + ($gutter-width * ($i - 1));
	}
}

@for $i from 1 through $total-columns {
	$i-width: ($col-width * $i) + ($gutter-width * ($i - 1));

	.push-#{$i} {
		margin-left: $i-width + $gutter-width * 2;

		// &:first-child {
		// 	margin-left: $i-width + $gutter-width;
		// }
	}
}