* {
	@include property('box-sizing', 'border-box');
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: $color-bg-body;
}

h1 {
	margin-bottom: 5px;
}

#content-wrapper {
	height: 100%;
}

.header {
	position: fixed;
	height: $header-height;
	background-color: $color-primary;
	padding: 0 $body-padding;
	z-index: $z-index-middle;
}

.header i:hover {
	cursor: pointer;
}

#header-main {
	width: 100%;

	& i {
		@include vertical-center();
		margin-left: 15px;
	}
}

#content {
	background-color: $color-bg-content;
	width: 100%;
	height: 100%;
	padding: ($header-height + $body-padding) $body-padding $body-padding;
}