* {
	@include property('box-sizing', 'border-box');
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: $color-bg-body;
}

h1 {
	margin-bottom: 5px;
}

#main {
	& .sidebar-collapsed {
		padding-left: $sidebar-collapsed-width-small + $body-padding;
	}

	& .sidebar-expanded {
		padding-right: $sidebar-expanded-width + $body-padding;
	}
}

.header {
	height: $header-height;
	background-color: $color-primary;
	padding: 0 $body-padding;
	z-index: $z-index-middle;
}

.header i:hover {
	cursor: pointer;
}

#header-right {
	position: fixed;

	& i {
		@include vertical-center();
		margin-left: 15px;
	}
}

#content {
	background-color: $color-bg-content;
	height: 100%;
	padding: ($header-height + $body-padding) $body-padding $body-padding;
}

@include breakpoint(small) {
}