#sidebar {
	@include transition('all #{$animation-speed} ease #{$ease-speed}');
	position: fixed;
	height: 100%;
	width: $sidebar-expanded-width;
	overflow: hidden;
	z-index: $z-index-sidebar;

	&:hover {
		overflow-y: auto;
	}
}

#nav {
	padding: ($header-height + $body-padding) 0 $body-padding;
	background-color: $color-bg-sidebar;
	height: inherit;
}

.is-collapsed {
	min-width: $sidebar-collapsed-width-small !important;
	width: $sidebar-collapsed-width-small !important;
}

ul[id*="nav-"] {
	margin-bottom: 30px;
	vertical-align: middle;
	white-space: nowrap;
}

li[id*="nav-"] {
	padding: ($body-padding / 2) $body-padding;
	margin: 2px 0;

	&:hover {
		cursor: pointer;
		background-color: $color-bg-content;
	}

	i {
		vertical-align: middle;
		margin-right: 9px;
	}
}

#header-sidebar {
	padding: ($body-padding / 2);
	background-color: $color-primary-dark;
	width: inherit;

	i {
		@include vertical-center();
	}
}

#nav .is-selected {
	background-color: $color-bg-content;
}

.sub-nav {
	padding: 0;
	i {
		padding-left: $body-padding / 2;
	}
}

.sub-nav-list li {
	padding: ($body-padding / 4) $body-padding;
	@include rem('padding-left', ($body-padding * 2 + $font-medium));
	margin: 2px 0;

	&:hover {
		background-color: $color-bg-sidebar;
	}
}

@include breakpoint(small) {
	.is-collapsed {
		min-width: $sidebar-collapsed-width !important;
		width: $sidebar-collapsed-width !important;
	}

	ul[id*="nav-"] {
		margin-bottom: 30px;
	}

	li[id*="nav-"]:before {
		margin-left: -27px - $body-padding;
	}
}