<form name="subtaskForm" class="form-horizontal" novalidate>
	<div class="modal-body">
		<div class="form-group">
			<input class="form-control input-lg" ng-model="vm.item.summary" placeholder="Add subtask" sp-auto-focus autofocus required />
		</div>

		<div class="modal-footer-custom">
			<button class="btn btn-danger" type="button" ng-click="vm.remove({ subtask: vm.item, task: vm.groups })" ng-hide="vm.item.id == null">Delete</button>
			<button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
			<button class="btn btn-primary" type="button" ng-click="vm.confirm({ subtask: vm.item, task: vm.groups })" ng-disabled="subtaskForm.$invalid">Confirm</button>
		</div>
	</div>
</form>
