<form name="taskForm" class="form-horizontal" novalidate>
	<div class="modal-body">
		<div class="form-group">
			<input class="form-control input-lg" ng-model="vm.item.summary" placeholder="Add task" required />
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<select class="form-control input-sm" ng-init="vm.item.label_id ? vm.item.label_id : vm.item.label_id = vm.groups[0].id" ng-model="vm.item.label_id" ng-options="grp.id as grp.name for grp in vm.groups" required>
				</select>
			</div>
			<div class="col-sm-1 priority">
				<input id="priority-icon" type="checkbox" ng-model="vm.item.priority" ng-true-value="'high'" ng-false-value="'normal'" />
				<label for="priority-icon"> </label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Due</label>
			<div class="col-sm-10">
				<input type="datetime" class="form-control" ng-model="vm.item.due" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Reminder</label>
			<div class="col-sm-10">
				<input type="datetime" class="form-control" ng-model="vm.item.reminder" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Notes</label>
			<div class="col-sm-10">
				<textarea class="form-control" ng-model="vm.item.note" rows="3"></textarea>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-danger" type="button" ng-click="vm.remove(vm.item.task_id)" ng-hide="vm.item.task_id == null">Delete</button>
		<button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-click="vm.confirm(vm.item)" ng-disabled="taskForm.$invalid">Confirm</button>
	</div>
</form>
