<div id="header-main" class="header" uib-dropdown>
	<div id="header-wrapper" uib-dropdown-toggle>
		<a ui-sref="login" class="username" ng-click="$event.stopPropagation()" ng-hide="hc.user.name">Login</a>
		<span class="username" ng-show="hc.user.name">{{ hc.user.name }}</span>

		<div id="avatar-wrapper">
			<div id="avatar">
				<img ng-src="{{ hc.user.avatar }}" />
			</div>
		</div>
	</div>

	<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
		<li ng-show="hc.user.admin == 1"><a ui-sref="admin">Admin</li>
		<li ng-hide="hc.user.name"><a ui-sref="login">Login</a></li>
		<li ng-show="hc.user.name"><a ui-sref="logout">Logout</a></li>
	</ul>
</div>