<form	name="registerForm" ng-submit="registerForm.$valid && vm.registerUser()"
		ng-model-options="{ updateOn: 'blur' }" novalidate>
	<div class="input-group">
		<label>Username</label><br/>
		<input	type="text" placeholder="Username" name="name"
				ng-model="vm.user.name" minlength="3" maxlength="32" required />
		<p ng-show="registerForm.name.$error.required && !registerForm.name.$pristine">Username is required.</p>
		<p ng-show="registerForm.name.$error.minlength">Username is too short.</p>
		<p ng-show="registerForm.name.$error.maxlength">Username is too long.</p>
	</div>

	<div class="input-group">
		<label>Password</label><br/>
		<input	type="password" placeholder="Password" name="password"
				ng-model="vm.user.password" minlength="6" /><br/>
		<p ng-show="registerForm.password.$error.required && !registerForm.password.$pristine">Password is required.</p>
		<p ng-show="registerForm.password.$error.minlength">Password is too short.</p>
	</div>
	<div class="input-group">
		<label>Confirm Password</label><br/>
		<input	type="password" placeholder="Retype Password" name="password2"
				ng-model="vm.password2" minlength="6" required sp-compare-to="registerForm.password" /><br/>
		<p ng-show="registerForm.password2.$error.spCompareTo">Passwords do not match.</p>
	</div>

	<div class="input-group">
		<label>Email</label><br/>
		<input	type="email" placeholder="Email" name="email"
				ng-model="vm.user.email" required /><br/>
		<p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">Invalid email.</p>
	</div>

	<input type="submit" value="Register" />
</form>