#calendar, #calendar-header {
	@extend %clearfix;
}

#month-name {
	float: left;
}

#calendar-views {
	float: right;

	li {
		display: inline-block;
	}
}

.today {
	background: $color-dim-light;
}

#calendar-month .selected {
	background: $color-primary-light;
}

.all-day-events {
	@extend %one-line;
	width: 100%;
	height: $event-height-small * 3 + $event-height-small / 2;
	padding: 0 $month-day-padding;

	@include breakpoint(small) {
		height: $event-height-medium * 2 + $event-height-medium / 2;
	}

	@include breakpoint(large) {
		height: $event-height-large * 2 + $event-height-large / 2;
	}
}

.events {
	@extend %one-line;
	width: 100%;
}

.day-number {
	@include rem('padding-right', 10px);
	vertical-align: top;
}


// MONTH
// ----------------------------
#calendar-month > ul > li {
	width: $month-day-width;
 	float: left;
	margin: -1px 0 0 -1px;
}

#month-day-names li {
	padding-bottom: 2px;
}

#month {
	> li {
	 	@include property('border', 1px solid #{$color-dim});
	 	height: $event-height-small * 15;

	 	@include breakpoint(small) {
	 		height: $event-height-medium * 15;
	 	}

	 	@include breakpoint(large) {
	 		height: $event-height-large * 15;
	 	}
	}

	ul li {
		height: $event-height-small;
		background-color: $color-primary;
		margin: 1px 0;

	 	@include breakpoint(small) {
			height: $event-height-medium;
		}

		@include breakpoint(large) {
			height: $event-height-large;
		}
	}
}

.month-day-row {
	display: table;
	width: 100%;
	padding: 0 $month-day-padding;

	.day-number, .events {
		display: table-cell;
	}
}