.calendar {
	width: 100%;
}

.calendar, .calendar-header {
	@extend %clearfix;
}

.calendar-header {
	margin-bottom: 10px;
}

.calendar-nav {
	@include property('margin-right', 10px);
	float: left;
}

.calendar-views {
	@include font-size($font-small);
	float: right;

	li {
		display: inline-block;
	}
}

.today {
	background: $color-dim-light;
}

.selected {
	background: $color-primary-light !important;
}


// MONTH
// ----------------------------
.calendar-month {
	@include font-size(14px);
}

.calendar-month > ul li {
	width: $month-day-width;
 	float: left;
	margin: -1px 0 0 -1px;
}

.month-name {
	float: left;
}

.month-day-names li {
	padding-bottom: 2px;
}

.all-day-events {
	@extend %one-line;
	width: 100%;
	height: $event-height-small * 3 + $event-height-small / 2;
	padding: 0 $month-day-padding;

	@include breakpoint(small) {
		height: $event-height-medium * 2 + $event-height-medium / 2;
	}

	@include breakpoint(large) {
		height: $event-height-large * 2 + $event-height-large / 2;
	}
}

.day-number {
	@include rem('padding-right', 10px);
	vertical-align: top;
}

.other-month {
	background: $color-dim-light;
	color: $color-dim-dark;

	.events li {
		background-color: $color-primary-dull !important;
		color: $color-dim-light !important;
	}
}

.month {
	.day {
	 	@include property('border', 1px solid #{$color-dim});
	 	height: $event-height-small * 15;
	 	overflow-y: hidden;

	 	&:hover {
	 		overflow-y: auto;
	 	}

	 	@include breakpoint(small) {
	 		height: $event-height-medium * 15;
	 	}

	 	@include breakpoint(large) {
	 		height: $event-height-large * 15;
	 	}
	}

	.events {
		@extend %one-line;
		width: 100%;
		overflow-y: hidden;
		cursor: pointer;

		&:hover {
			overflow-y: auto;
		}

		li {
			padding: 1px;
			color: $color-bg-content;
			width: 100%;
			background-color: $color-primary;
			margin-bottom: 2px;

			@include breakpoint(small) {
				padding: 3px;
			}
		}
	}
}

.month-day-row {
	display: table;
	width: 100%;
	padding: 0 $month-day-padding;

	.day-number, .events {
		display: table-cell;
	}
}