.task-list li {
	@include property('border-bottom', 1px solid $color-dim);
	@include property('border-radius', 3px);
	@include rem('line-height', $font-medium);
	@include rem('padding', 10px);
	display: table;
	table-layout: fixed;
	overflow: hidden;
	width: 100%;

	&:hover {
		background: $color-dim-lighter;
		cursor: pointer;
	}

	&:last-child {
		@include property('border-bottom', none);
	}

	i {
		display: table-cell;
		@include rem('width', $icon-width);
	}
}

.task-summary {
	@extend %one-line;
	display: table-cell;
	text-overflow: ellipsis;

	.completed & {
		color: $color-dim-dark;
		text-decoration: line-through;
	}
}

.check-icon {
	color: $color-dim;

	&:hover {
		color: $color-dim-dark;
	}

	.completed & {
		color: $color-text;
		text-decoration: none;
	}
}

.priority input[type=checkbox] {
	display: none;

}

.priority input[type=checkbox] + label:before {
	@include font-size($font-medium);
	font-family: FontAwesome;
	display: inline-block;
	content: "\f006";
	position: relative;
	top: 6px;
}

.priority input[type=checkbox]:checked + label:before {
	content: "\f005";
}

.add-task {
	background: $color-dim-lighter;
	color: $color-dim-darker;

	&:hover {
		background: $color-dim-light !important;
	}
}
