.task-list li {
	@include property('border-bottom', 1px solid $color-dim);
	@include rem('padding', 10px 0);
	display: table;
	table-layout: fixed;
	overflow: hidden;
	width: 100%;

	&:last-child {
		@include property('border-bottom', none);
	}

	i {
		display: table-cell;
		@include rem('width', $icon-width);
	}

	.task-summary {
		@extend %one-line;
		display: table-cell;
		text-overflow: ellipsis;
	}
}
