$color-primary: #0086E4;
$color-accent: #000;
$color-text: #444;
$color-bg: #ddd;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}