%clearfix {
	&:before, &:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

%icons {
	background-image: url("../img/icons.png");
	width: $icon-width;
	height: $icon-height;
}