@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: $font-stack;
	font-size: $font-base;
}

body {
	color: $color-text;
}

h1 {
	@include font-size($font-medium);
	font-weight: bold;
}

.text-right { text-align: right; }

#header {
	@include font-size($font-large);
	color: #fff;

	& div:last-child {
		@include font-size($font-medium);
		@include rem('line-height', $font-large);
	}
}