@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "base";

$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;

body {
	font: 12px $font-stack;
	color: $color-text;
}