@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: $font-stack;
	font-size: $font-small;
}

body {
	color: $color-text;
}

h1 {
	@include font-size($font-medium);
	font-weight: bold;
}

@include breakpoint(small) {
	html {
		font-size: $font-base;
	}
}

// HEADER
// ----------------------------
.header {
	@include font-size($font-large);
	color: $color-bg-content;
}

#header-main {
	text-align: right;
}

// SIDEBAR
// ----------------------------
#header-sidebar {
	@include font-size($font-large);
}

li[id*="nav-"] {
	@include rem('line-height', $font-medium);
}

li[id*="nav-"] i {
	@include font-size($font-medium);
}

// LISTS
// ----------------------------
.edit {
	color: $color-dim;

	&:hover {
		color: $color-text;
	}
}

.incomplete .check {
	color: $color-dim;

	&:hover {
		color: $color-dim-dark;
	}
}

.complete {
	& span {
		color: $color-dim-dark;
		text-decoration: line-through;
	}

	& .check {
		color: $color-text;
		text-decoration: none;
	}
}

// CALENDAR
// ----------------------------
#calendar-month {
	@include font-size(14px);
}