// COLORS
// ----------------------------
$color-primary:			#3272BB;
$color-primary-light:	mix($color-primary, white, 10%);
$color-primary-dark:	mix($color-primary, black, 90%);

$color-dim:			#ddd;
$color-dim-light:	#F0F0F0;
$color-dim-dark:	#aaa;

$color-text:		#444;

$color-bg-content:	#fff;
$color-bg-body:		#ddd;
$color-bg-sidebar:	#F7F7F7;

// FONT
// ----------------------------
$font-stack:	'Open Sans', Helvetica, Arial, sans-serif;
$font-large:	32px;
$font-medium:	24px;
$font-base:		16px;
$font-small:	12px;
$font-xsmall:	10px;

// LAYOUT
// ----------------------------
$header-height:	45px;
$body-padding:	10px;

$z-index-header:	1010;
$z-index-overlay:	1020;
$z-index-sidebar:	1030;

$animation-speed: 0.5s;
$ease-speed: 0.1s;

// SIDEBAR
// ----------------------------
$sidebar-expanded-width:		250px;
$sidebar-collapsed-width-small:	$font-medium + ($body-padding * 2);
$sidebar-collapsed-width:		$font-medium + ($body-padding * 3);

// ICONS
// ----------------------------
$icon-width:	30px;
$icon-height:	$icon-width;

// CALENDAR
// ----------------------------
$month-day-width:		100% / 7;
$month-day-padding:		1px;
$event-height-small:	3px;
$event-height:			9px;

// BREAKPOINTS
// ----------------------------
$breakpoints: (
	xsmall:	570px,
	small:	768px,
	medium:	960px,
	large:	1200px
);