@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.calendar:before, .calendar-header:before, .calendar:after, .calendar-header:after {
  display: table;
  content: ""; }

.calendar:after, .calendar-header:after {
  clear: both; }

.all-day-events, .month .events, .task-summary {
  white-space: nowrap;
  overflow-x: hidden; }

.square-icon-white, .square-icon-silver, .square-icon-gray, .square-icon-black, .square-icon-red, .square-icon-maroon, .square-icon-yellow, .square-icon-olive, .square-icon-lime, .square-icon-green, .square-icon-aqua, .square-icon-teal, .square-icon-blue, .square-icon-navy, .square-icon-fuchsia, .square-icon-purple, .square-icon-primary {
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  margin-right: 10px;
  margin-right: 0.625rem;
  -webkit-border: 1px solid #ddd;
  -moz-border: 1px solid #ddd;
  -ms-border: 1px solid #ddd;
  -o-border: 1px solid #ddd;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 16px; } }

body {
  color: #444;
  background-color: #ddd; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px; }

i {
  cursor: pointer; }

.btn-primary {
  background: #3272BB;
  border-color: #3272BB; }
  .btn-primary:hover {
    background: #235083;
    border-color: #235083; }

.capitalize {
  text-transform: capitalize; }

.font-small {
  font-size: 12px;
  font-size: 0.75rem; }

.header {
  font-size: 32px;
  font-size: 2rem;
  color: #fff;
  position: fixed;
  height: 45px;
  background-color: #3272BB;
  padding: 0 10px;
  z-index: 1010; }

#header-main {
  width: 100%;
  text-align: right;
  display: table;
  vertical-align: middle; }
  #header-main i {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    margin-left: 15px; }

.header a {
  color: #fff;
  display: table-cell;
  vertical-align: middle; }
  .header a:hover, .header a:focus {
    color: #ddd;
    text-decoration: none; }

#sidebar {
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  background-color: #F7F7F7;
  position: fixed;
  height: 100%;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  z-index: 1030; }
  #sidebar:hover {
    overflow-y: auto; }

#sidebar-placeholder {
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  width: 250px;
  min-width: 250px;
  height: 100%;
  float: left; }

.collapsed {
  min-width: 44px !important;
  width: 44px !important; }
  @media screen and (min-width: 768px) {
    .collapsed {
      min-width: 54px !important;
      width: 54px !important; } }

#header-sidebar {
  font-size: 32px;
  font-size: 2rem;
  padding: 5px;
  background-color: #2d67a8;
  width: inherit; }
  #header-sidebar i {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%; }

#nav {
  padding: 55px 0 10px;
  height: inherit; }
  #nav .active {
    background-color: #fff; }
  #nav a {
    color: #444;
    text-decoration: none; }

ul[id*="nav-"] {
  margin-bottom: 30px;
  vertical-align: middle;
  white-space: nowrap; }

li[id*="nav-"] a, li[id*="nav-"] > div {
  display: block;
  padding: 5px 10px;
  margin: 2px 0; }
  li[id*="nav-"] a:hover, li[id*="nav-"] > div:hover {
    cursor: pointer;
    background-color: #fff; }
  li[id*="nav-"] a i, li[id*="nav-"] > div i {
    font-size: 24px;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 9px; }

.sub-nav-list {
  font-size: 14px;
  font-size: 0.875rem; }

.sub-nav-list li a {
  padding: 2.5px 10px;
  padding-left: 64px;
  padding-left: 4rem;
  margin: 2px 0; }
  @media screen and (min-width: 768px) {
    .sub-nav-list li a {
      padding-left: 54px;
      padding-left: 3.375rem; } }

.sub-nav-list li i {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 2.5px;
  margin-bottom: 0.15625rem;
  vertical-align: middle;
  line-height: inherit; }

li[id*="nav-"] {
  line-height: 24px;
  line-height: 1.5rem; }
  li[id*="nav-"] i {
    font-size: 24px;
    font-size: 1.5rem; }

[class*="square-icon-"].disabled + span {
  color: #888; }

.wrapper {
  height: 100%;
  width: 100%; }

#content-wrapper {
  -webkit-transition: width 0.3s ease 0.1s;
  -moz-transition: width 0.3s ease 0.1s;
  -ms-transition: width 0.3s ease 0.1s;
  -o-transition: width 0.3s ease 0.1s;
  transition: width 0.3s ease 0.1s;
  height: 100%;
  width: 100%; }

#content {
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  background-color: #fff;
  display: table;
  height: 100%;
  margin-left: 44px;
  padding: 55px 10px 10px; }
  @media screen and (min-width: 768px) {
    #content {
      margin-left: 54px; } }

#overlay {
  -webkit-transition: all 0.3s ease-in 0.2s;
  -moz-transition: all 0.3s ease-in 0.2s;
  -ms-transition: all 0.3s ease-in 0.2s;
  -o-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1020;
  opacity: 0;
  visibility: hidden; }

.is-visible {
  opacity: 0.7 !important;
  visibility: visible !important; }

.calendar {
  display: table;
  table-layout: fixed;
  width: 100%; }

.calendar-header {
  margin-bottom: 10px; }

.calendar-nav {
  -webkit-margin-right: 10px;
  -moz-margin-right: 10px;
  -ms-margin-right: 10px;
  -o-margin-right: 10px;
  margin-right: 10px;
  float: left; }

.calendar-views {
  font-size: 12px;
  font-size: 0.75rem;
  float: right; }
  .calendar-views li {
    display: inline-block; }

.today {
  background: #F0F0F0; }

.selected {
  background: #ebf1f8 !important; }

.calendar-month {
  font-size: 14px;
  font-size: 0.875rem; }

.calendar-month > ul li {
  width: 14.28571%;
  float: left;
  margin: -1px 0 0 -1px; }

.month-name {
  float: left; }

.month-day-names li {
  padding-bottom: 2px; }

.all-day-events {
  width: 100%;
  height: 10.5px;
  padding: 0 1px; }
  @media screen and (min-width: 768px) {
    .all-day-events {
      height: 12.5px; } }
  @media screen and (min-width: 1200px) {
    .all-day-events {
      height: 22.5px; } }

.day-number {
  padding-right: 10px;
  padding-right: 0.625rem;
  vertical-align: top; }

.other-month {
  background: #F0F0F0;
  color: #aaa; }
  .other-month .events li {
    background-color: #5178a3 !important;
    color: #F0F0F0 !important; }

.month .day {
  -webkit-border: 1px solid #ddd;
  -moz-border: 1px solid #ddd;
  -ms-border: 1px solid #ddd;
  -o-border: 1px solid #ddd;
  border: 1px solid #ddd;
  height: 45px;
  overflow-y: hidden; }
  .month .day:hover {
    overflow-y: auto; }
  @media screen and (min-width: 768px) {
    .month .day {
      height: 75px; } }
  @media screen and (min-width: 1200px) {
    .month .day {
      height: 135px; } }

.month .events {
  width: 100%;
  overflow-y: hidden;
  cursor: pointer; }
  .month .events:hover {
    overflow-y: auto; }
  .month .events li {
    padding: 1px;
    color: #fff;
    width: 100%;
    background-color: #3272BB;
    margin-bottom: 2px; }
    @media screen and (min-width: 768px) {
      .month .events li {
        padding: 3px; } }

.month-day-row {
  display: table;
  width: 100%;
  padding: 0 1px; }
  .month-day-row .day-number, .month-day-row .events {
    display: table-cell; }

.modal-footer-custom .btn-danger {
  float: left; }

.modal-footer-custom {
  text-align: right; }

.btn-file {
  position: relative;
  overflow: hidden; }
  .btn-file input[type=file] {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer; }

.btn.btn-file {
  min-width: 100%; }

.file-image {
  text-align: center;
  width: 100%; }
  .file-image img {
    max-width: 100%;
    max-height: 300px; }

.form-control.form-inline {
  display: inline-block;
  width: auto;
  line-height: 1;
  padding: 0 5px; }

.check-icon {
  margin-right: 10px; }

.edit-icon {
  text-align: center;
  visibility: hidden; }
  li:hover .edit-icon {
    visibility: visible; }

.square-icon-white {
  background-color: #ffffff; }
  .sub-nav-list li a:hover .square-icon-white {
    background-color: #ffffff; }

.square-icon-silver {
  background-color: #c0c0c0; }
  .sub-nav-list li a:hover .square-icon-silver {
    background-color: #c0c0c0; }

.square-icon-gray {
  background-color: #808080; }
  .sub-nav-list li a:hover .square-icon-gray {
    background-color: #808080; }

.square-icon-black {
  background-color: #000000; }
  .sub-nav-list li a:hover .square-icon-black {
    background-color: #000000; }

.square-icon-red {
  background-color: #ff0000; }
  .sub-nav-list li a:hover .square-icon-red {
    background-color: #ff0000; }

.square-icon-maroon {
  background-color: #800000; }
  .sub-nav-list li a:hover .square-icon-maroon {
    background-color: #800000; }

.square-icon-yellow {
  background-color: #fff000; }
  .sub-nav-list li a:hover .square-icon-yellow {
    background-color: #fff000; }

.square-icon-olive {
  background-color: #808000; }
  .sub-nav-list li a:hover .square-icon-olive {
    background-color: #808000; }

.square-icon-lime {
  background-color: #00ff00; }
  .sub-nav-list li a:hover .square-icon-lime {
    background-color: #00ff00; }

.square-icon-green {
  background-color: #008000; }
  .sub-nav-list li a:hover .square-icon-green {
    background-color: #008000; }

.square-icon-aqua {
  background-color: #00ffff; }
  .sub-nav-list li a:hover .square-icon-aqua {
    background-color: #00ffff; }

.square-icon-teal {
  background-color: #008080; }
  .sub-nav-list li a:hover .square-icon-teal {
    background-color: #008080; }

.square-icon-blue {
  background-color: #0000ff; }
  .sub-nav-list li a:hover .square-icon-blue {
    background-color: #0000ff; }

.square-icon-navy {
  background-color: #000080; }
  .sub-nav-list li a:hover .square-icon-navy {
    background-color: #000080; }

.square-icon-fuchsia {
  background-color: #ff00ff; }
  .sub-nav-list li a:hover .square-icon-fuchsia {
    background-color: #ff00ff; }

.square-icon-purple {
  background-color: #800080; }
  .sub-nav-list li a:hover .square-icon-purple {
    background-color: #800080; }

.square-icon-primary {
  background-color: #3272BB; }
  .sub-nav-list li a:hover .square-icon-primary {
    background-color: #3272BB; }

[class*="square-icon-"].disabled {
  background-color: initial; }

.task-list {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden; }

.task-list li {
  -webkit-border-bottom: 1px solid #ddd;
  -moz-border-bottom: 1px solid #ddd;
  -ms-border-bottom: 1px solid #ddd;
  -o-border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: table-row; }
  .task-list li:hover {
    background: #FAFAFA;
    cursor: pointer; }
  .task-list li:last-child {
    -webkit-border-bottom: none;
    -moz-border-bottom: none;
    -ms-border-bottom: none;
    -o-border-bottom: none;
    border-bottom: none; }
  .task-list li i {
    padding-left: 10px;
    padding-left: 0.625rem;
    width: 30px;
    width: 1.875rem;
    display: table-cell; }

.task-summary {
  line-height: 24px;
  line-height: 1.5rem;
  padding: 10px;
  padding: 0.625rem;
  display: table-cell;
  text-overflow: ellipsis; }
  .completed .task-summary {
    color: #aaa;
    text-decoration: line-through; }

.check-icon {
  color: #ddd; }
  .check-icon:hover {
    color: #aaa; }
  .completed .check-icon {
    color: #444;
    text-decoration: none; }

.add-task {
  background: #FAFAFA;
  color: #888; }
  .add-task:hover {
    background: #F0F0F0 !important; }

.checkbox-repeat {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #aaa; }
  .checkbox-repeat input[type=checkbox] {
    margin-right: 5px; }

.form-radio {
  width: auto; }

.priority {
  display: inline-block; }

.priority input[type=checkbox] {
  display: none; }

.priority input[type=checkbox] + label:before {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: FontAwesome;
  color: #ddd;
  display: inline-block;
  content: "\f006"; }

.priority input[type=checkbox]:checked + label:before {
  content: "\f005";
  color: #F2BD1A; }
