.wrapper {
	height: 100%;
	width: 100%;
}

#main-wrapper {
	@include transition('width #{$animation-speed} ease #{$ease-speed}');
	height: 100%;
	width: 100%;
}

#content-wrapper {
	@include transition('all #{$animation-speed} ease #{$ease-speed}');
	background-color: $color-bg-content;
	display: table;
	height: 100%;
	margin-left: $sidebar-collapsed-width-small;
	padding: ($header-height + $body-padding) $body-padding $body-padding;

	@include breakpoint(small) {
		margin-left: $sidebar-collapsed-width;
	}
}

#content {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

#loading {
	@include transition('all 0.3s ease-in 0.2s');
	@include font-size(128px);
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: $z-index-overlay;
	display: table;
	text-align: center;

	i {
		cursor: auto;
		color: $color-primary;
		display: table-cell;
		vertical-align: middle;
	}
}