.header {
	@include font-size($font-large);
	color: $color-bg-content;
	position: fixed;
	height: $header-height;
	background-color: $color-primary;
	padding: 0 $body-padding;
	z-index: $z-index-header;
}

#header-main {
	width: 100%;
	text-align: right;
	display: table;
	vertical-align: middle;

	i {
		@include vertical-center();
		margin-left: 15px;
	}
}

#header-wrapper {
	display: table-row;
}

.header a, #avatar-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.header a {
	color: $color-bg-content;
	padding-right: 10px;

	&:hover, &:focus {
		color: $color-dim;
		text-decoration: none;
	}
}

#avatar-wrapper {
	width: 35px;
}

#avatar {
	@include property(border, 2px solid $color-bg-content);
	@include property(border-radius, 20px);
	background: $color-bg-content;
	position: relative;
	overflow: hidden;
	width: 35px;
	height: 35px;
	cursor: pointer;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 45px;
	}
}
