.header {
	@include font-size($font-large);
	color: $color-bg-content;
	position: fixed;
	height: $header-height;
	background-color: $color-primary;
	padding: 0 $body-padding;
	z-index: $z-index-header;
}

#header-main {
	width: 100%;
	display: table;
	vertical-align: middle;

	i {
		@include vertical-center();
		margin-left: 15px;
	}
}

#header-wrapper {
	cursor: pointer;
	display: table;
	float: right;
	line-height: $header-height;
}

.username, #avatar-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.username {
	@include property(padding-right, 5px);
	color: $color-bg-content;

	&:hover, &:focus {
		color: $color-dim;
		text-decoration: none;
	}
}

#avatar-wrapper {
	width: $avatar-size + 4px;
	cursor: pointer;
}

#avatar {
	@include property(border, 2px solid $color-bg-content);
	@include property(border-radius, 20px);
	background: $color-bg-sidebar;
	position: relative;
	overflow: hidden;
	width: $avatar-size + 4px;
	height: $avatar-size + 4px;

	&:hover, &:focus {
		border-color: $color-dim;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: $avatar-size;
		min-width: $avatar-size;
		min-height: $avatar-size;
	}
}

.header .dropdown-menu {
	@include property(border-radius, 0 0 2px 2px);
	@include property(border, none);
	@include property(box-shadow, none);
	background: $color-primary;
	color: $color-bg-content;
	margin-top: 0;

	& > li > a {
		color: $color-bg-content;

		&:hover {
			background: $color-primary-darker;
		}
	}
}
