.header {
	@include font-size($font-large);
	color: $color-bg-content;
	position: fixed;
	height: $header-height;
	background-color: $color-primary;
	padding: 0 $body-padding;
	z-index: $z-index-header;
}

#header-main {
	width: 100%;
	text-align: right;
	display: table;
	vertical-align: middle;

	i {
		@include vertical-center();
		margin-left: 15px;
	}
}

.header a {
	color: $color-bg-content;
	display: table-cell;
	vertical-align: middle;

	&:hover, &:focus {
		color: $color-dim;
		text-decoration: none;
	}
}
