#sidebar {
	@include transition('all #{$animation-speed} ease #{$ease-speed}');
	background-color: $color-bg-sidebar;
	position: fixed;
	height: 100%;
	width: $sidebar-expanded-width-small;
	min-width: $sidebar-expanded-width-small;
	overflow: hidden;
	z-index: $z-index-sidebar;

	&:hover {
		overflow-y: auto;
	}

	@include breakpoint(small) {
		width: $sidebar-expanded-width;
		min-width: $sidebar-expanded-width;
	}
}

#sidebar-placeholder {
	@include transition('all #{$animation-speed} ease #{$ease-speed}');
	background-color: $color-bg-content;
	width: $sidebar-expanded-width-small;
	min-width: $sidebar-expanded-width-small;
	height: 100%;
	float: left;

	@include breakpoint(small) {
		width: $sidebar-expanded-width;
		min-width: $sidebar-expanded-width;
	}
}

.collapsed {
	min-width: $sidebar-collapsed-width-small !important;
	width: $sidebar-collapsed-width-small !important;

	@include breakpoint(small) {
		min-width: $sidebar-collapsed-width !important;
		width: $sidebar-collapsed-width !important;
	}
}

#header-sidebar {
	@include font-size($font-large);
	padding: ($body-padding / 2);
	background-color: $color-primary-dark;
	width: inherit;

	i {
		@include vertical-center();
	}
}

#nav {
	padding: ($header-height + $body-padding) 0 $body-padding;
	height: inherit;

	.active {
 		background-color: $color-bg-content;
	}

	a {
		color: $color-text;
		text-decoration: none;
	}
}

ul[id*="nav-"] {
	@include rem(margin-bottom, 20px);
	vertical-align: middle;
	white-space: nowrap;
}

li[id*="nav-"] a, li[id*="nav-"] > div {
	display: block;
	padding: ($body-padding / 2) $body-padding;
	margin: 2px 0;

	&:hover {
		cursor: pointer;
		background-color: $color-bg-content;
	}

	i {
		@include font-size($font-medium);
		vertical-align: middle;
		margin-right: 9px;
	}
}

.sub-nav > div {
	@include property(user-select, none);
}

.sub-nav-list {
	@include transition('all #{$animation-speed} ease #{$ease-speed}');
	@include font-size(14px);
	max-height: 500px;
	opacity: 1;

	&.collapsed {
		max-height: 0;
		opacity: 0;
	}
}

.sub-nav-list li {
	a {
		padding: ($body-padding / 4) $body-padding;
		@include rem('padding-left', ($body-padding * 4 + $font-medium));
		margin: 2px 0;

		@include breakpoint(small) {
			@include rem('padding-left', ($body-padding * 3 + $font-medium));
		}
	}

	i {
		@include font-size($font-small);
		@include rem('margin-bottom', 2.5px);
		vertical-align: middle;
		line-height: inherit;
	}
}

li[id*="nav-"] {
	@include rem('line-height', $font-medium);

	i {
		@include font-size($font-medium);
	}
}

[class*="square-icon-"].disabled + span {
	color: $color-dim-darker;
}