<form name="loginForm" ng-submit="vm.login()" novalidate>
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		<input	type="text" placeholder="Username" name="name" ng-model="vm.user.name"
				 required /><br/>
	</div>
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		<input	type="password" placeholder="Password" name="password"
				ng-model="vm.user.password" required /><br/>
	</div>

	<input type="submit" value="Login" />
	<i ng-if="vm.loading" class="fa fa-spinner fa-pulse"></i>
</form>

<p class="error">{{ vm.error }}</p>